<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.qiu.json.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="cn.qiu.json.news.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="cn.qiu.json.news.permission.JPUSH_MESSAGE" />

    <application
        android:name="cn.qiu.json.news.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">
        <activity android:name="cn.qiu.json.news.ui.activity.NewsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.qiu.json.news.ui.activity.NewsDetailActivity" />
        <activity android:name="cn.qiu.json.news.ui.activity.AboutActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.qiu.json.news" />
            </intent-filter>
        </receiver>

        <!--umeng-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56f38a8fe0f55a42fa001ca2"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Baidu" />

    </application>

</manifest>